.t_bold {
    font-weight: 700;
}
.flex-box {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-middle {
    align-items: center;
}
.flex-center {
    justify-content: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-middle {
    align-items: center;
}
.t_center {
    text-align: center;
}
.t_right {
    text-align: right;
}
.t_small {
    font-size: 14px;
    /*  */
}
.t_big {
    font-size: 18px;
}
.t_danger {
    font-size: 12px;
    color: red;
}
.t_green {
    color: green;
}
.pdtb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}
.ml30 {
    margin-left: 30px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb30 {
    margin-bottom: 30px;
}
.opa0 {
    opacity: 0;
}
.opa1 {
    opacity: 1;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.notVb {
    opacity: 0;
    visibility: hidden;
}
.vb {
    opacity: 1;
    visibility: visible;
}
body[data-theme='light'] .container {
    background: #e2e2e2;
}
body[data-theme='dark'] .container {
    background: #111;
}
body[data-theme='light'] header {
    background-color: #fff;
    color: #000;
}
body[data-theme='dark'] header {
    background-color: #000;
    color: #fff;
}
input:focus {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.container {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    background: #f5f5f5;
    transition: all 0.2s;
}
.container::-webkit-scrollbar {
    display: none;
}

.wrap {
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;

    background-color: #fff;
    transition: all 0.2s;

    box-shadow: 2px 2px 4px #4444;
}
main {
    width: 100%;
}

#logo {
    width: 60px;
    height: 60px;
}

.sectionWrap {
    padding: 20px 0;
}
#introduce .myInfo {
    padding: 50px 0;
}
#introduce .profileImg {
    width: 150px;
    height: 150px;
}
#introduce .profileComment p {
    font-size: 35px;
    line-height: 1.6;
    /* font-family: ; */
}

/* font-family: 'Roboto', sans-serif; */
#project .mainProject,
#project .rightProject {
    width: 50%;
}
#project .mainProject {
    height: 400px;
    padding-right: 10px;
}
#gameModal .rightProject {
    margin-top: calc(50vh - 100px);
}
#gameModal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 2;
    /* top: calc(50vh - 100px); */
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 60%);
}
.projectList {
    height: 200px;
    width: 200px;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.projectList img {
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    text-align: center;
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 20%);
    transition: all 0.5s;
}

#project .projectMain {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    height: 400px;
}

.overlay:hover {
    opacity: 0;
}
